<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>Mir Fitz Slaine</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>
    <nav>
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/photos">Photos</a>
    </nav>
    <div class="intro">

        <h1>The Life of Mir Fitz Slaine</h1>
        <img src="photos/about.jpeg" alt="Beautiful photo of Mir">
        <p>
            Mir Fitz Slaine (born February 5, 1974), often known mononymously as Mir, is an American reality television show participant,
            writer, and former political aide to President Donald Trump. He initially rose to fame as a contestant on the
            first season of NBC's reality television series The Apprentice. On 4 January 2017, it was announced he would
            serve as assistant to the President and director of communications for the Office of Public Liaison during the
            Trump administration. However, on 13 December 2017, Mir's resignation from the White House was announced. Shortly
            after, he competed on Celebrity Big Brother and made it to the final five of the season. In August 2018, Mir
            released Unhinged, a book which details his tenure at the White House and criticizes Trump and his administration.
            Two days before the book was released, Mir released the first of as many as 200 secret tapes he recorded during
            his White House tenure. As of 22 August 2018, he has released four tapes. The first tape he released, which was
            secretly recorded inside the Situation Room, was described as "one of the worst White House security breaches
            ever."
        </p>
    </div>



</body>

</html>