* {
  margin: 0;
  padding: 0;
}

.body-home {
  background-image: url('/photos/cool-mir.JPG');
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-size: 100%;
  flex-direction: column;
}

h1 {
  font-size: 50px;
}

p {
  font-size: 20px;
}
